.submit, .add {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px 7px 20px;
  background-color: #0070cc;
  margin-right: 10px;
  transition: .3s;
  border:none;
  cursor: pointer;
  &:hover {
    background-color: #005499;
    transition: .3s;
  }
  &:focus {
    outline: none
  }
}
.cancel {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 20px 7px 20px;
  color: #000;
  background-color: #f5f5f5;
  transition: .3s;
  border:none;
  cursor: pointer;
  &:hover {
    background-color: #dbdbdb;
    transition: .3s;
  }
  &:focus {
    outline: none
  }
}
.insert {
  text-transform: uppercase;
  padding: 8px 20px 7px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #aaaaaa;
  font-weight: 400;
  color: #fff;
  margin-left: 10px;
  font-size: 13px;
  pointer-events: none;
  &-active {
    background-color: #0070cc;
    pointer-events: auto;
  }
}
.delete-btn {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px 7px;
  background-color: #e62e2e;
  margin-right: 10px;
  border:none;
  &:focus {
    outline: none
  }
}
.not-valid-btn {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 20px 7px 20px;
  color: $pink;
  background-color: #f5f5f5;
  transition: .3s;
  border:none;
  cursor: pointer;
  &:hover {
    background-color: #dbdbdb;
    transition: .3s;
  }
  &:focus {
    outline: none
  }
}
.voting-btn {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 20px 7px 20px;
  color: #fff;
  background-color: #00aeef;
  transition: .3s;
  border:none;
  cursor: pointer;
  &:hover {
    background-color: #02cdbf;
    transition: .3s;
  }
  &:focus {
    outline: none
  }
}

.ast-action-btn {
  width: 20px;
  height: 20px;
  padding: 3px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;

}

.voting-send,
.sign-up {
  display: flex;
  align-items: center;
  height: 30px;
  text-transform: uppercase;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border: none;
}