.timeList {
  padding: 0;
  margin: 0;
  z-index: 10;
  background: #fff;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #ccc;
  height: 130px;
  overflow-x: hidden;
  box-shadow: 3px 3px 10px #ccc;
  &__item {
    padding: 5px 30px;
    cursor: pointer;
    &:hover {
      background-color: #dce9f5;
    }
  }
}