.admin-groups {
  .content__block {
    margin: 0;
    padding: 0;
    border: none;
  }
  .string__key {
    min-width: 120px;
  }
}

.admin-users {
  .content__block {
    margin: 0;
    padding: 0;
    border: none;
  }
  .string__key {
    min-width: 130px;
  }
}