.adm-content {
  position: relative;
  margin: 40px 40px 0;
  padding-right: 40px;
  box-sizing: border-box;
  &__block {
    position: relative;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    box-sizing: border-box;
    &:last-of-type {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }


    &--row {
      position: relative;
      padding: 12px 5px;
      box-sizing: border-box;
      display: flex;
    }
    &--type {
      display: flex;
      align-items: center;
      font-size: 14px;
      position: relative;
      color: #777;
      min-width: 120px;
      padding: 0 30px 0 0;
      box-sizing: border-box;
    }
    &--value {
      font-size: 14px;
      position: relative;
      color: #000;
      font-weight: 700;
      span, a {
        padding-left: 10px;
      }
    }
    &--photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 20px;
      top: 20px;
      max-width: 120px;
      z-index: 2;
      img {
        width: 100%;
      }
      a {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        color: $someone;
      }
    }


    input:not([type="checkbox"]) {
      min-width: 300px;
      height: 30px;
      border: 1px solid #ccc;
      padding: 0px 10px;
      font-size: 14px;
      color: #000000;
      box-sizing: border-box;
      &::placeholder {
        font-weight: 400;
      }
    }
    input[type="checkbox"] {
      &:not(checked) {
        position: absolute;
        opacity: 0;
      }
      &:not(checked) + label {
        position: relative;
        padding: 0 0 0 20px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 10px;
          height: 10px;
          border-radius: 1px;
          border: 1px solid #ccc;
          background: #fff;
        }
        &:after {
          content: '';
          display: none;
          position: absolute;
          top: 3px;
          left: 1px;
          width: 10px;
          height: 10px;
          background: url(../images/icons/checked.png) no-repeat center center;
        }
      }
      &:checked + label{
        &:after {
          display: block;
        }
      }
    }
    label {
      font-weight: 400;
    }
    select {
      min-width: 300px;
      height: 30px;
      border: 1px solid #ccc;
      padding: 0px 10px;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      outline: none;
      option {

      }
    }


    .edit-pass, .find {
      font-weight: 400;
      color: $someone;
      font-size: 14px;
      cursor: pointer;
    }
    .save {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
      padding: 10px 20px;
      background-color: #0070cc;
      margin-right: 10px;
    }
    .cancel {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      padding: 10px 20px;
      color: #000;
      background-color: #f5f5f5;
    }

  }

  &__section {
    height: calc(100vh - 130px);
  }

  #groups-content {
    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      color: #777777;

      th {
        height:50px;
        &:first-of-type {
          min-width:200px;
          width: 20%;
        }
        &:last-of-type {
          width: 30px;
        }

        select {
          width: 180px;
          height: 30px;
          padding: 0px 5px;
          box-sizing: border-box;
          font-weight: 400;
        }
        button {
          text-transform: uppercase;
          padding: 8px 20px;
          box-sizing: border-box;
          border: none;
          background-color: #0070cc;
          font-weight: 400;
          color: #fff;
        }
      }
      td {
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
        &:first-of-type {
          padding-left: 5px;
        }
      }
    }
  }
}