.issuer-bills {
  .content__block {
    &:first-of-type {
      border-top: none;
    }
  }
  .content__block--type {
    min-width: 150px;
  }
  .content__block--row{
    height: 25px;
  }
}

.issuer-bills-bill {
  .content__block {
    &:last-of-type {
      border-bottom: none;
    }
  }



  //.bl-type {
  //  width: 26%;
  //}
  //.bl-num {
  //  width: 15%;
  //}
  //.bl-state {
  //  width: 31%;
  //}
  //.bl-par {
  //  width: 14%;
  //  text-align: right;
  //}
  //.bl-sum {
  //  width: 14%;
  //  text-align: right;
  //}

}

.issuer-bills-balance {
  >table {
    width: 90%;
    th,td {
      &:nth-of-type(4) {
        text-align: right;
      }
      &:nth-of-type(5) {
        text-align: right;
      }
    }
  }
}

.issuer-bills-statement {
  >table {
    width: 90%;
    th,td {
      &:nth-of-type(3) {
        text-align: right;
      }
      &:nth-of-type(4) {
        text-align: right;
      }
    }
  }
  .arrow-down {
    display: inline-flex;
    margin-left: 10px;
    &:before {
      border-top-color: $someone;
    }
  }
  .mr5 {
    margin-right: 5px;
  }


  //.st-date {
  //  width: 20%;
  //}
  //.st-review {
  //  width: 54%;
  //}
  //.st-enroll{
  //  width: 13%;
  //}
  //.st-off {
  //  width: 13%;
  //}
}