.filter {
  width:calc(100% - 470px);
  margin-right: 20px;
  &__field {
    .open-filter-modal {
      display: block;
      >img {
        margin-right: 10px;
      }
    }
    input {
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: 14px;
    }
    display: flex;
    align-items: center;
  }
  &__modal {
    display: none;
    position: absolute;
    top: 70px;
    border: 1px solid #ccc;
    box-shadow: 1px 5px 10px 0 #ccc;
    min-width: 300px;
    //width: calc(100% - 380px);
    box-sizing: border-box;
    background-color: #fff;
    z-index: 5;
    &--header {
      padding: 15px;
      box-sizing: border-box;
      position: relative;
      border-bottom:  1px solid #ccc;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
      }
    }
    &--body {
      padding: 15px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
    }
    &--footer {
      padding: 15px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      border-top:  1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}