.issuer {

  //Временные стили
  .content__block {
    padding: 0!important;
    margin: 0!important;
    border: none!important;
  }
  //Временные стили

  .string__key {
    min-width: 180px;
  }

}

.issuer-bills-cabinet {
  .content__block--row {
    align-items: center;
    min-height: 25px;
    height: auto;
    margin-bottom: 10px;
  }
}



