.issuer-bills-cabinet {
  .content__block--row {
    align-items: baseline;
    min-height: 25px;
    height: auto;
  }
}


.issuer-bills {
  .content__block {
    &:first-of-type {
      border-top: none;
    }
  }
  .content__block--type {
    min-width: 150px;
  }
  .content__block--row{
    height: 25px;
  }
}

.issuer-bills-bill {
  .content__block {
    &:last-of-type {
      border-bottom: none;
    }
  }


  //.bl-type {
  //  width: 26%;
  //}
  //.bl-num {
  //  width: 15%;
  //}
  //.bl-state {
  //  width: 31%;
  //}
  //.bl-par {
  //  width: 14%;
  //  text-align: right;
  //}
  //.bl-sum {
  //  width: 14%;
  //  text-align: right;
  //}

}

.issuer-bills-balance {
  >table {
    width: 90%;
    th,td {
      &:nth-of-type(4) {
        text-align: right;
      }
      &:nth-of-type(5) {
        text-align: right;
      }
    }
    tbody {
      td {
        vertical-align: top;
        padding-top: 14px;
        box-sizing: border-box;
      }
    }
    .hidden-row {
      span {
        display: block;
        padding: 5px 0;
        &:first-of-type {
          padding-top: 10px;
        }
      }
    }
    .show-all-state {
      display: block;
      cursor: pointer;
    }
    .hidden {
      display: none;
    }

    .bl-par,
    .bl-sum {
      width: 13%;
    }
  }
}

.issuer-bills-statement {
  >table {
    width: 90%;
    th,td {
      &:nth-of-type(3) {
        text-align: right;
      }
      &:nth-of-type(4) {
        text-align: right;
      }
    }
  }
  .arrow-down {
    display: inline-flex;
    margin-left: 10px;
    &:before {
      border-top-color: $someone;
    }
  }
  .mr5 {
    margin-right: 5px;
  }
  .active-period {
    color: #000!important;
  }


  .st-date {
    width: 160px;
  }
  //.st-review {
  //  width: 54%;
  //}
  //.st-enroll{
  //  width: 13%;
  //}
  //.st-off {
  //  width: 13%;
  //}
}


.iss-bills-list {

  //.b-number {
  //  width: 13%;
  //}
  //.b-issuer {
  //  width: 20%;
  //}
  //.b-sort {
  //  width: 13%;
  //}
  //.b-mode {
  //  width: 37%;
  //}
  //.b-owner {
  //  width: 20%;
  //}
}

thead {
  .iml-number {
    width: 10%;
  }
  .iml-status,
  .iml-date {
    width: 20%;
  }
}
tbody {
  .iml-number {
    color: $someone!important;
    font-weight: 700;
    transition: .4s;
    cursor: pointer;
    &:hover {
      color: $someone-hover!important;
      transition: .4s;
    }
    a {
      color: $someone!important;
      &:visited {
        color: $someone;
      }
    }
  }
}

.content__aside {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0;
  padding-left: 40px;
  box-sizing: border-box;
  &--item {
    margin-bottom: 30px;
  }
  &--title {
    color: $blue;
    font-size: 16px;
  }
  &--text {
    color: #777;
    font-size: 14px;
    max-width: 280px
  }
  &--order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--price {
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }
  &--btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    height: 30px;
    min-width: 100px;
    border: none;
    color: #fff;
    background-color: $someone;
    cursor: pointer;
  }
}

.content__messages {
  display: flex;
  flex-direction: column;
  .not-read-message {
    border-color: #5ccc3d!important;
    .content__message--title {
      font-weight: 700!important;
    }
  }
  .read-message {
    border-color: #f29c24!important;
  }
  .not-active-message {
    border-color: #777!important;
    color: #777!important;
  }
}

.number-amount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #00467f;
  margin-left: 5px;
}
.content__message {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  box-sizing: border-box;
  border-left: 3px solid transparent;
  margin-bottom: 20px;
  &--row {
    display: flex;
    padding: 4px 0;
  }
  &--title {
    font-size: 15px;
  }
  &--more {
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 5px 5px;
    span {
      display: block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      border: 1px solid $blue;
      margin: 0px 1px;
      box-sizing: border-box;
    }
    &:before,
    &:after {
      display: block;
      content: '';
      height: 5px;
      width: 5px;
      border-radius: 50%;
      border: 1px solid $blue;
      margin: 0px 1px;
      box-sizing: border-box;
    }
  }
  &--add {
    box-sizing: border-box;
    padding: 0px 3px;
    cursor: pointer;
    input {
      display: none;
    }
  }
  &--date {
    margin-left: auto;
    font-size: 13px;
  }
  &--from {
    margin: 0;
    font-size: 13px;
  }
  &--term {
    margin: 0;
    font-size: 13px;
    color: #777;
  }
}
