thead {
  .mi-register,
  .mv-register,
  .mml-number,
  .vil-bill {
    width: 10%;
  }
  .vil-lk {
    width: 10%;
  }
}
tbody {
  .mi-register,
  .mv-register,
  .mml-number,
  .vil-bill {
    color: $someone!important;
    font-weight: 700;
    transition: .4s;
    cursor: pointer;
    &:hover {
      color: $someone-hover!important;
      transition: .4s;
    }
    a {
      color: $someone!important;
      &:visited {
        color: $someone;
      }
    }
  }

}

.orange {
  color: #f29c24!important;
}
.green {
  color: #5ccc3d!important;
}
.bg-green {
  background-color: #5ccc3d!important;
}
.red {
  color: #e62e2e!important;
}
.bg-red {
  background-color: #e62e2e!important;
}
.grey {
  color: #777!important;
}
.bg-grey {
  background-color: #ccc!important;
}

.manager-issuer-cabinet {
  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--type {
    min-width: 180px;
  }
  .content__block--row {
    height: 30px;
  }
}

.manager-voting-issuer-list {
  .content__block--row {
    height: 31px;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }
}

.manager-voting-form {

  h2 {
    padding-left: 0;
  }
  h3 {
    margin: 10px 0;
    font-weight: 700;
  }
  p {
    margin: 0;
    max-width: 570px;
    font-size: 13px;
    font-weight: 700;
  }

  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--row {
    height: 31px;
    padding-left: 0;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }

  .voting-title {
    font-size: 18px;
    margin: 20px 0;
  }
  .voting-results {
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
  }
  .voting-answer {
    color: grey;
    font-size: 13px;

  }
  .voting-question {
    font-size: 14px;
    color: #000;
  }
  .voting-actions {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &__choice {
      position: relative;
      display: flex;
      align-items: center;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #777;
        text-transform: uppercase;
      }
      .voting-selected {
        background-color: #5ccc3d;
        color: #fff;
      }
    }
    &__results {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #000;
        font-size: 13px;
        font-weight: 700;
        &--key {
          padding-right: 15px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.manager-meeting-list {
  display: flex;
  .calendar {
    width: 340px;
    padding: 0px 40px;
    box-sizing: border-box;
    table {
      border-collapse: collapse;
      width: 100%;
      line-height: 1.2em;
      font-size: 15px;
      text-align: center;
      background-color: #fafafa;
      td {
        padding: 10px;
      }
      thead {
        tr:last-of-type {
          color: #999;
          font-weight: 400;
        }
        tr:nth-child(1) td:nth-child(1):hover,
        tr:nth-child(1) td:nth-child(3):hover {
          cursor: pointer;
        }
      }
      tbody {
        color: #000;

      }
      .holiday {
        color: #0062b3;
        &:hover {
          color: $blue;
        }
      }
    }
    &__head {
      background-color: $blue;
      color: #fff;
      td {
        padding: 12px;
      }
    }
    
  }
  table {
    tbody {
      td {
        white-space: normal;

      }
    }
  }
  .mml-name {
    span {
      padding: 10px;
      display: block;
    }
  }
  .mml-status,
  .mml-date {
    width: 20%;
  }


  .content__section {
    width: calc(100% - 380px);
  }
  .list__footer {
    span {
      margin-bottom: 10px;
      &:last-of-type {
        font-size: 13px;
      }
    }
  }
}

.manager-meeting-cabinet {
  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--row {
    height: 31px;
    padding-left: 0;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }

  .meeting-question-title {
    padding: 0;
    font-size: 18px;
    font-weight: 300;
  }
  .meeting-question {
    font-size: 14px;
    font-weight: 700;
  }
  .meeting-answer-title {
    font-size: 13px;
    font-weight: 400;
    color: #777;
  }
  .meeting-answer {
    font-size: 13px;
    font-weight: 700;
  }
  .meeting__row {
    display: flex;
    padding: 5px 0;
    &--caption {
      width: 170px;
      padding-right: 10px;
      box-sizing: border-box;
    }
    &--desc {
      width: calc(100% - 170px);
      span {
        display: block;
        padding: 3px 0;
      }
    }
  }

  .voting-actions {
    display: flex;
    align-items: center;
  }
  .voting-title {
    font-size: 18px;
    margin: 20px 0;
    padding: 0;
  }
  .voting-send {
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border: none;
  }
  .voting-answer {
    color: grey;
    font-size: 13px;

  }
  .voting-question {
    font-size: 14px;
    color: #000;
  }
  .voting-answer-desc,
  .voting-question-desc {
    margin: 0;
    max-width: 570px;
    font-size: 13px;
    font-weight: 700;
  }
  .voting-actions {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &__choice {
      position: relative;
      display: flex;
      align-items: center;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #777;
        text-transform: uppercase;
      }
      .voting-selected {
        background-color: #5ccc3d;
        color: #fff;
      }
    }
    &__results {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #000;
        font-size: 13px;
        font-weight: 700;
        &--key {
          padding-right: 15px;
          box-sizing: border-box;
        }
      }
    }
  }

  .divide-voting {
    display: block;
    font-size: 13px;
    color: #777;
    margin-left: 35px;
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      color: #fff;
      margin: 0 3px;
      box-sizing: border-box;
      background-color: #777;
      border-radius: 50%;
    }
  }
}

.manager-meeting-cabinet {
  h2 {
    padding: 0;
  }
  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--row {
    height: 31px;
    padding-left: 0;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }

  .meeting-question-title {
    padding: 0;
    font-size: 18px;
    font-weight: 300;
  }
  .meeting-question {
    font-size: 14px;
    font-weight: 700;
  }
  .meeting-answer-title {
    font-size: 13px;
    font-weight: 400;
    color: #777;
  }
  .meeting-answer {
    font-size: 13px;
    font-weight: 700;
  }
  .meeting__row {
    display: flex;
    padding: 5px 0;
    &--caption {
      width: 170px;
      padding-right: 10px;
      box-sizing: border-box;
      font-size: 13px;
    }
    &--desc {
      width: calc(100% - 170px);
      span {
        display: block;
        padding: 3px 0;
        font-size: 13px;
      }
    }
  }

  .voting-actions {
    display: flex;
    align-items: center;
  }
  .voting-title {
    font-size: 18px;
    margin: 20px 0;
    padding: 0;
  }
  .voting-send {
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
  }
  .voting-answer {
    color: grey;
    font-size: 13px;

  }
  .voting-question {
    font-size: 14px;
    color: #000;
  }
  .voting-answer-desc,
  .voting-question-desc {
    margin: 0;
    max-width: 570px;
    font-size: 13px;
    font-weight: 700;
  }
  .voting-actions {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &__choice {
      position: relative;
      display: flex;
      align-items: center;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #777;
        text-transform: uppercase;
      }
      .voting-selected {
        background-color: #5ccc3d;
        color: #fff;
      }
    }
    &__results {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #000;
        font-size: 13px;
        font-weight: 700;
        &--key {
          padding-right: 15px;
          box-sizing: border-box;
        }
      }
    }
  }

  .voting-order {
    color: $blue;
    font-weight: 700;
    font-size: 13px;
  }

  .divide-voting {
    display: block;
    font-size: 13px;
    color: #777;
    margin-left: 35px;
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      color: #fff;
      margin: 0 3px;
      box-sizing: border-box;
      background-color: #777;
      border-radius: 50%;
    }
  }
  label.voting-actions__choice--item {
    background-color: #ccc;
    color: #fff;
    margin-right: 10px;
  }
  
  input[type="radio"] {
    display: none;
    &:checked + label {
      background-color: #5ccc3d;
      transition: .3s;
    }
  }
}