thead {
  .mv-register,
  .vil-bill {
    width: 10%;
  }
  .mml-number {
    width: 90px;
  }
  .mml-name {
    width: 36%;
  }
  .mml-date {
    width: 10%;
  }
  .vil-lk {
    width: 10%;
  }
  .mi-inn,
  .ai-inn{
    width: 100px;
  }
}
tbody {
  .mi-register,
  .mv-register,
  .mml-number,
  .vil-bill {
    color: $someone!important;
    font-weight: 700;
    transition: .4s;
    cursor: pointer;
    &:hover {
      color: $someone-hover!important;
      transition: .4s;
    }
    a {
      color: $someone!important;
      &:visited {
        color: $someone;
      }
    }
  }

}



.manager-issuer-cabinet {
  .content__block {
    padding: 8px 0;
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--type {
    min-width: 180px;
    width: auto;
  }
  .content__block--row {
    height: 30px;
  }
}

.manager-voting-issuer-list {
  .content__block--row {
    height: 31px;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }
}

.manager-voting-form {

  h2 {
    padding-left: 0;
  }
  h3 {
    margin: 10px 0;
    font-weight: 700;
  }
  p {
    margin: 0;
    max-width: 570px;
    font-size: 13px;
    font-weight: 700;
  }

  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--row {
    height: 31px;
    padding-left: 0;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }

  .voting-title {
    font-size: 18px;
    margin: 20px 0;
  }
  .voting-results {
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
  }
  .voting-answer {
    color: grey;
    font-size: 13px;

  }
  .voting-question {
    font-size: 14px;
    color: #000;
  }
  .voting-actions {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &__choice {
      position: relative;
      display: flex;
      align-items: center;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #777;
        text-transform: uppercase;
      }
      .voting-selected {
        background-color: #5ccc3d;
        color: #fff;
      }
    }
    &__results {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      &--item {
        display: block;
        padding: 10px 20px;
        color: #000;
        font-size: 13px;
        font-weight: 700;
        &--key {
          padding-right: 15px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.manager-meeting-list {
  display: flex;
  height: 100%;

  table {
    tbody {
      td {
        white-space: normal;

      }
    }
  }
  .mml-number {
    width: 65px;
  }
  .mml-name {
    span {
      padding: 10px;
      display: block;
    }
  }
  .mml-status {
    min-width: 90px;
    max-width: 190px;
    width: 15%;
  }
  .mml-actions {
    width: 30px;
  }


  .content__section {
    width: calc(100% - 320px);
  }
  .list__footer {
    span {
      margin-bottom: 10px;
      &:last-of-type {
        font-size: 13px;
      }
    }
  }
}

.manager-meeting-cabinet {

  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--row {
    height: 31px;
    padding-left: 0;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
  }

  .meeting-question-title {
    padding: 0;
    font-size: 18px;
    font-weight: 300;
  }
  .meeting-question {
    font-size: 13px;

  }
  .meeting-answer-title {
    font-size: 13px;
    font-weight: 400;
    color: #777;
  }
  .meeting-answer {
    font-size: 13px;
  }
  .meeting__row {
    display: flex;
    padding: 5px 0;
    &--caption {
      width: 170px;
      padding-right: 10px;
      box-sizing: border-box;
    }
    &--desc {
      width: calc(100% - 170px);
      span {
        display: block;
        padding: 3px 0;
      }
    }
  }

  .voting-title {
    font-size: 18px;
    margin: 20px 0;
    padding: 0;
  }

  .voting-answer {
    color: grey;
    font-size: 13px;
    span {
      color: #000;
    }

  }
  .voting-question {
    font-size: 13px;
    color: #000;
  }
  .voting-answer-desc,
  .voting-question-desc {
    margin: 0;
    max-width: 570px;
    font-size: 13px;
    font-weight: 700;
  }



  .agenda-question-edit {
    display: none;
  }
  .is-hidden {
    display: none;
  }

}

.manager-meeting-cabinet {
  h2 {
    padding: 0;
  }
  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--row {
    height: 31px;
    padding-left: 0;
  }
  .content__block--type {
    padding: 0;
    min-width: inherit;
    width: auto;
  }

  .meeting-question-title {
    padding: 0;
    font-size: 18px;
    font-weight: 300;
  }
  .meeting-question {
    font-size: 13px;
    font-weight: 700;
    padding-right: 10px;
  }
  .meeting-answer-title {
    font-size: 13px;
    font-weight: 400;
    color: #777;
  }
  .meeting-answer {
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap;
  }
  .overflow-height {
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 15px;
  }
  .meeting__row {
    display: flex;
    padding: 5px 0;
    &--caption {
      width: 170px;
      padding-right: 10px;
      box-sizing: border-box;
      font-size: 13px;
    }
    &--desc {
      width: calc(100% - 170px);
      span {
        display: block;
        padding: 3px 0;
        font-size: 13px;
      }
    }
  }

  .voting-title {
    font-size: 18px;
    margin: 20px 0;
    padding: 0;
  }
  .voting-send {
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
  }
  .voting-answer {
    color: grey;
    font-size: 13px;
    font-weight: 400;
  }
  .voting-question {
    font-size: 13px;
    color: #000;
  }
  .voting-answer-desc,
  .voting-question-desc {
    margin: 0;
    max-width: 570px;
    font-size: 13px;
    font-weight: 400;
  }

  .voting-order {
    color: #0062b2;
    //font-weight: 700;
    font-size: 13px;
  }


  .voting-actions__choice--item {
    background-color: #eee;
    color: $someone;
    margin-right: 10px;
  }


  .bulleting-number {
    font-size: 13px;
    display: block;
    margin: 10px 0;
    color: #777;
    span {
      color: #000000;
    }
  }
  .bulleting-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .bulleting-item {
    margin-right: 15px;
    font-size: 13px;
    &--key {
      color: #777;
      padding-right: 5px;
    }
    &--value {
      color: #000;
    }
  }



  .agenda-actions {
    display: flex;
    align-items: center;
    .meeting-question-title {
      margin-right: 15px;
    }
  }
  .agenda-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    height: 30px;
    width: 25px;
    cursor: pointer;
    padding: 0;
    &--small {
      width: 20px;
      height: 25px;
      img {
        height: 12px;
        width: 12px;
        object-fit: contain;
      }
    }
  }
}


.agenda-settings__table {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.manager-meeting-agenda {

  .agenda-question-edit {
    display: none;
  }

  .agenda-table {
    width: 100%;
    border-bottom: none;
    border-collapse: separate!important;
    tr {
      height: 31px;
      border: none;
    }
    td {
      border-bottom: none!important;
      box-sizing: border-box;
      &:nth-of-type(1),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        width: 30px;
        text-align: center;
      }
      &:nth-of-type(2) {
        width: 70%;
        border: 1px solid #ccc!important;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .modal {
    position: fixed;
  }
  .modal__body {
    max-height: 215px;
  }
  .modal__footer {
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }

  .agenda-settings {
    &__cell-edit {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      p {
        font-size: 13px;
        margin: 0;
        min-height: 50px;
        padding: 0 15px;
      }
    }
    &__cell {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      &:last-of-type {
        border-bottom: none;
      }
      p {
        font-size: 13px;
        margin: 0;
      }
      table {
        border-collapse: collapse;
        margin: 20px 0;
        width: 100%;
        table-layout: fixed;
        th,td {
          height: 41px;
        }
        th {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          color: #777;
          font-size: 13px;
          font-weight: 400;
        }
        tr {
          border-bottom: 1px solid #ccc;
          &:last-of-type {
            border-bottom: none;
          }
        }
        td {
          font-size: 13px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .ast-quorum {
          width: 7%;
          text-align: center;
        }
        .ast-solution {
          width: 7%;
          text-align: center;
        }
        .ast-bill {
          width: 8%;
        }
        .ast-name {
          width: 17%;
        }
        .ast-type {
          width: 18%;
        }
        .ast-all {
          width: 7%;
        }
        .ast-voting {
          width: 145px;
        }
        .ast-reason {
          width: 185px;
        }
        .ast-actions {
          width: 60px;
        }
      }
      .noborder {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
      }
    }
    &__line {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      min-height: 31px;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    &__row {
      display: flex;
      align-items: baseline;
      padding-bottom: 15px;
      min-height: 31px;
      &:last-of-type {
        padding-bottom: 0;
      }
      &--item {
        display: flex;
        align-items: center;
        width: 100%;
        input {
          display: block;
          min-width: inherit;
          width: 50px;
          height: 30px;
          margin-left: 10px;
          margin-right: 30px;
          text-align: center;
        }
      }
    }
    &__key {
      display: flex;
      align-items: center;
      height:31px;
      width: 130px;
      padding-right: 20px;
      box-sizing: border-box;
      font-size: 13px;
    }
    &__value {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      font-size: 13px;
      .select {
        margin-right: 10px;
        select {
          appearance: none;
          &::-ms-expand {
            display: none;
          }
        }
      }
      select {
        height: 31px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
      }
      .width-xs {
        width: 140px;
        min-width: 140px;
      }
      .width-sm {
        width: 200px;
        min-width: 200px;
      }
      .width-md {
        width: 300px;
        min-width: 300px;
      }
      .width-lg {
        width: 510px;
        min-width: 510px;
      }

    }
    &__input {
      width: 100%;
      label {
        display: block;
        width: 100%;
        padding-bottom: 10px;

      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
    }
  }
  .settings-btn {
    font-size: 13px;
    color: #0062b2;
    font-weight: 400;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .condition-hidden {
    display: none;
  }
  .show-condition-hidden {
    display: flex !important;
  }

  .restraint {
    height: auto;
    min-height: 95px;
    width: 100%;
    //border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0!important;
    font-size: 13px;
    resize: none;
    color: #777
  }
  .t-search {
    margin: 0px 10px;
  }




}
.manager-meeting-agenda {
  .agenda-settings__row {
    position: relative;
  }
}
.manager-meeting-info {



  .content__block--type {
    min-width: 225px
  }
  .agenda-settings__cell {
    padding: 0;
  }
  .show-constraints,
  .load-list,
  .show-meetings,
  .delete--item,
  .materials-list__btn {
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    margin: 10px 0;
    color: #0062b2;
    cursor: pointer;
  }

  .load-list {
    margin-left: 20px;
    &:before {
      content: attr(data-btn-text);
    }
  }
  .agenda-settings__row {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    min-height: 31px;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  .agenda-settings__key {
    display: flex;
    align-items: center;
    height: 31px;
    width: 235px;
    flex-shrink: 0;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .agenda-settings__value {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 14px;
    width: 100%;
  }
  .select2-docs {
    width: 100%!important;
  }
  .select2-selection--multiple {
    height: 200px!important;
  }
  .agenda-settings__input {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 31px;
    label {
      display: block;
      width: 100%;
      color: #000;
    }
  }

  .content__block--row h2 {
    margin: 15px 0;
  }

  .info-affix {
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin-left: 10px;
    cursor: pointer;
  }
  .delete--item,
  .materials-list__btn {
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin: 10px;
    img {
      height: 10px;
      width: 10px;
    }
  }
  .delete--item {
    margin-left: 0;
  }
  .materials-list {
    margin: 0;
    padding: 0;
    counter-reset: materials-list-counter;
    li {
      display: flex;
      align-items: baseline;
    }
  }
  .materials-list__item {
    cursor: pointer;
    color: #0062b2;
    font-size: 13px;
    font-weight: 700;
    counter-increment: materials-list-counter;
    &:before {
      content: counter(materials-list-counter) ')';
      padding: 0px 5px;
    }
  }
  .voting-date-hidden{
    display: none;
  }
  .constraints-hidden {
    display: none;
  }
  .meetings-hidden{
    display: none;
  }
  .add-files {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    h2 {
      font-size: 20px;
      font-weight: 400;
      color: #000;
    }
    h3 {
      font-size: 15px;
      font-weight: 700;
    }
    textarea {
      width: 100%;
      min-height: 100px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    input[type="file"] {
      display: none;
    }
    .select-file {
      display: block;
      font-size: 14px;
      font-weight: 700;
      color: $blue;
      cursor: pointer;
    }
    .filter__body {
      max-height: 300px;
    }
    .selected-file {
      display: block;
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .modal {
    position: fixed;
    h2 {
      font-weight: 700;
    }
    &__footer {
      padding-top: 20px;
      border-top: 1px solid #ccc;
    }
  }

  .meetings {
    .content__block--type {
      min-width: 250px;
    }
  }

}
.manager-issuers-list {
  tbody {
    td:first-of-type {
      color: #0062b3;
      font-weight: 700;
      cursor: pointer;
      a:visited {
        color: #0062b3;
      }
    }
  }
}
.select2-dropdown {
  font-size: 13px;
  width: 300px!important;
}