.owner {
  display: flex;
  .content__section {
    width: calc(100% - 400px);
  }
  .content__block {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .content__block--type {
    min-width: 180px;
  }
}


.owner-issuer-list {
  .table {
    td {
      color: #0062b3;
      font-weight: 700;
    }
  }
}