.sidebar {
  display: flex;
  flex-direction: column;
  &__logo {
    display: flex;
    margin-bottom: 15px;
    .logo {
      width: 40%;
      margin-left: 20px;
      &:before {
        background-color: #fff;
      }
    }
    h2 {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      span {
        display: block;
        font-size: 12px;
        text-transform: lowercase;
        font-weight: 400;
        max-width: 50px;
        margin-top: 5px;
      }
    }
  }
  &__item {
    margin-top: 25px;
    margin-bottom: 5px;
    &:last-of-type {
      margin-bottom: 25px;
    }
    &--header {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      img {
        margin: 0;
        margin-left: 30px;
        margin-right: 25px;
      }
      span, a {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          color: #7fc6ff;
        }
      }
      &:hover {
        >a {
          color: $blue-hover;
        }
        .sidebar__item--icon {
          [class^="icon-sidebar"] {
            color: $blue-hover;
          }
        }
      }
    }
    &--icon {
      margin-left: 30px;
      margin-right: 25px;
      [class^="icon-sidebar"] {
        color: #fff;
      }
    }
    &--active {
      >a {
        color: $blue-hover!important;
      }
    .sidebar__item--icon {
      [class^="icon-sidebar"] {
        color: $blue-hover;
      }
    }
    }
    &--amount {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #fff;
      color: #00467f;
      margin-left: 5px;
      font-size: 14px!important;
    }
    a {
      color: #fff;
    }
    ul {
      position: relative;
      padding-left: 85px;
      margin: 0;
      li {
        list-style: none;
        position: relative;
        margin-bottom: 3px;
        a,span {
          font-size: 13px;
          font-weight: 400;
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #7fc6ff;
          }
        }
      }
    }
  }
  &__footer {
    position: relative;
    border-top: 3px solid #fff;
    margin-top:auto;
    box-sizing: border-box;
    padding: 20px 30px;
    p {
      font-size: 13px;
      width: 100%;
      margin: 10px 0;
      strong {
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin: 10px 0;
      }
      span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

[class^="icon-sidebar"], [class*=" icon-sidebar"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-size: 30px;
  }
}

.icon-sidebar-icon1:before {
  content: "\e901";
}
.icon-sidebar-icon2:before {
  content: "\e902";
}
.icon-sidebar-icon3:before {
  content: "\e903";
}
.icon-sidebar-icon4:before {
  content: "\e904";
}
.icon-sidebar-icon5:before {
  content: "\e905";
}
.icon-sidebar-icon6:before {
  content: "\e906";
}
.icon-sidebar-icon7:before {
  content: "\e900";
}


