#user-cabinet-new {
  .content__block:last-of-type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  .content__block--row {
    padding: 5px;
  }
  .filter {
    width: 520px;
    &__body {
      height: 175px;
    }
  }
}